<template>
  <div id="wrapper">
    <main>
        <div class="doc">
          <button class="alt" @click="open('https://electron.atom.io/docs/')">Electron</button>
          <span v-text="ullage"></span>
          <v-slider v-model="volume" :min="minUllage" :max="maxUllage" thumb-label="always"></v-slider>
          <v-slider v-model="diff" :min="minDifference" :max="maxDifference" :step="0.1" thumb-label="always"></v-slider>
        </div>
    </main>
  </div>
</template>

<script>
  export default {
    name: 'landing-page',
    components: {  },
    data: function() {
      return {
        volume: 0,
        diff: 0
      }
    },
    computed: {
        ullage: function() {
          return this.findUllage(this.volume, this.diff)
        },
        minDifference: function() {
          return this.$_.min(this.$_.map(this.$_.keys(this.$_.sample(this.ullagetable["1P"])), Number))
        },
        maxDifference: function() {
          return this.$_.max(this.$_.map(this.$_.keys(this.$_.sample(this.ullagetable["1P"])), Number))
        },
        minUllage: function() {
          return this.$_.min(this.$_.map(this.$_.keys(this.ullagetable["1P"]), Number))
        },
        maxUllage: function() {
          return this.$_.max(this.$_.map(this.$_.keys(this.ullagetable["1P"]), Number))
        }
    },
    created() {
      this.volume = this.minUllage
      this.diff = this.minDifference
    },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      },
      findUllage: function(volume, diff) {
        let ut = this.ullagetable
        let lowerCandidateUllage, higherCandidateUllage, lowerCandidateDiff, higherCandidateDiff

        let imaginarySounding = {}
        imaginarySounding[volume] = {}

        let ullages = this.$_.keys(ut["1P"])

        for(let i = 0; i < ullages.length-1; i++) {
          if(ullages[i] <= volume && volume <= ullages[i+1]) {
            lowerCandidateUllage = ullages[i]
            higherCandidateUllage = ullages[i+1]
          }
        }

        let differences = this.$_.orderBy(this.$_.keys(ut["1P"][lowerCandidateUllage]).map(Number))

        for(let i = 0; i < differences.length-1; i++) {
          if(differences[i] <= diff && diff <= differences[i+1]) {
            lowerCandidateDiff = differences[i]
            higherCandidateDiff = differences[i+1]
          }
        }

        let differenceSteps = this.$_.keys(ut["1P"][lowerCandidateUllage])
        this.$_.forEach(differenceSteps, function(key, val) {
          imaginarySounding[volume][key] = ut["1P"][lowerCandidateUllage][key] + (volume - lowerCandidateUllage) / (higherCandidateUllage - lowerCandidateUllage) * (ut["1P"][higherCandidateUllage][key] - ut["1P"][lowerCandidateUllage][key])
        })

        let finalVolume = imaginarySounding[volume][lowerCandidateDiff] + (diff - lowerCandidateDiff) / (higherCandidateDiff - lowerCandidateDiff) * (imaginarySounding[volume][higherCandidateDiff] - imaginarySounding[volume][lowerCandidateDiff])
        
        return this.$_.round(finalVolume, 4)

      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body { font-family: 'Source Sans Pro', sans-serif; }
</style>
