  <template>
    <v-app id="app">
      <v-navigation-drawer
              fixed
              app
              clipped
      >
      </v-navigation-drawer>
      <v-system-bar color="primary" dark fixed app>
        <v-toolbar-title>Cargo Calculator</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-icon class="pr-2 ma-0">fa-calendar-alt</v-icon>
        <span>{{date}}</span>
        <v-icon class="pl-4 pr-2 ma-0">fa-clock</v-icon>
        <span class="pr-5 ma-0">{{time}} ( {{timezone}} )</span>
        <v-btn class="ma-0" flat @click="minimize()">
          <v-icon>fa-window-minimize</v-icon>
        </v-btn>
        <v-btn class="ma-0" flat @click="close()">
          <v-icon>fa-window-close</v-icon>
        </v-btn>
      </v-system-bar>
      <v-content>
        <v-container fluid fill-height>
          <v-layout
                  justify-center
                  align-center
          >
            <v-flex text-xs-center>
              <v-tooltip left>
                  <v-icon large>fa-code</v-icon>
                <span>Source</span>
              </v-tooltip>
              <v-tooltip right>
                  <v-icon large>fa-shield-alt</v-icon>
                <span>Codepen</span>
              </v-tooltip>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
      <v-footer color="indigo" app>
        <span class="white--text">&copy; 2017</span>
      </v-footer>
    </v-app>
  </template>

<script>
  export default {
    name: 'jytter-loading',
    data: function() {
      return {
          stamp: this.moment()
      }
    },
    computed: {
      date: function() {
          return this.stamp.format("MMM Do Y")
      },
      time: function() {
          return this.stamp.format("HH:mm:ss")
      },
      timezone: function() {
          return this.stamp.format("ZZ")
      }
    },
    methods: {
      minimize: function() {
          this.$electron.remote.getCurrentWindow().minimize();
      },
      close: function() {
          this.$electron.remote.getCurrentWindow().close();
      }
    },
    created: function() {
      let self = this

      setInterval(function() {
          self.stamp = self.moment()
      }, 1000)
    },
  }
</script>

<style>
  ::-webkit-scrollbar { display: none; }
</style>
